h1.title {display: none;}

body { 
    background-image: linear-gradient(#11725E, #09C091);
    font-size: 18px;
    line-height: 1.6;
    color: white;
} 

h1, h2, h3, h4, h5, h6 { font-weight: bold; color: white;} 

h1 { font-size: 2em; } 
h2 { font-size: 1.75em; } 
h3 { font-size: 1.60em; } 
h4{ font-size: 1.50em; } 
h5 { font-size: 1.30em; } 
h6 { font-size: 1.25em; } 

.pull-left {
  float: left;
  width: 50%;
}

.pull-right {
  float: right;
  width: 40%;
}

a:link {
  color: #82f2d4;
}

/* visited link */
a:visited {
  color: #82f2d4;
}

/* mouse over link */
a:hover {
  color: #b009f2;
}

/* selected link */
a:active {
  color: #82f2d4;
}

.btn-primary:link, .btn-primary:visited, .btn-primary:hover, .btn-primary:active {
    color: white;
    border: white;
    font-weight: bold;
    background-image: linear-gradient(#11725E, #b009f2);
}

.well {
  background-color: transparent;
  border: transparent;
  padding: 0px;
}

.card {
  background-color: #11725E;
  border: 5px solid #82f2d4;
  padding: 50px;
  margin: 20px;
  overflow-wrap: break-word;
}